# This example shows every opyion
level=min           # comment out to switch traces off.
ip=192.168.0.12      # If omitted, transactions from any IP will be traced
#source=admin.js     # If omitted from all source files
#priority=min,bob  # Priority list. If omitted assumed [min,norm,verbose,silly]
note=Test 36        # Optional note at beginning of trace listing
#log=trace.log       # output to file. If omitted goes to concole.
#linewidth=60         # Number of characters per line. Program will attempt to show 
                     #    small objects on one line. Default 60.
#maxdepth=5           # Depth of nested onjects to be shown (default 3).
refresh=1            # Time before refreshing config in minutes