#  This example shows every option for the track-n-trace module
#  Uncomment the 'level' line to switch on
#  Coding:               let trace = require('track-n-trace');
#  Start of transaction  trace.init(req, './');  /* can be omitted but set refresh below */
#  log - simple case:    trace.log(a,b,c);    /* will trace variables a,b and c plus file name, line number and elapsed time  */
#  log with options:     trace.log(a,b,.. {c:c, d:d, level: 'norm', break: '#', maxdepth: 3})  /* alternative method for c and d plus options */
#  full details on https://github.com/bobbrowning/track-n-trace 

#level=verbose               # comment out to switch traces off. Set to level required.
#ip=192.168.0.12             # If omitted, transactions from any IP will be traced
#source=suds-list-table.js   # If omitted from all source files
#lines=466,483               # If omitted, from all line numbers
#priority=min,bob,user       # Priority list. If omitted assumed [min,norm,verbose,silly]
#note=Test 36                # Optional note at beginning of trace listing
#log=trace.log               # output to file. If omitted goes to console.
#linewidth=100               # Number of characters per line. Default 60. Program will attempt to show small objects on one line. 
#refresh=1                   # Time before refreshing config in minutes if no 'init' call
maxstring=500                # Long strings truncated to this size before listing
maxdepth=6                   # Depth of nested onjects to be shown (default 3 but can be over-ridden in call).
